

/*Initialize*/
ul#menu, ul#menu ul.sub-menu {
    padding:0;
    margin: 0;
}
ul#menu li, ul#menu ul.sub-menu li {
    list-style-type: none;
    display: inline-block;
}
/*Link Appearance*/
ul#menu li a, ul#menu li ul.sub-menu li a {
    text-decoration: none;
    color: rgb(119,119,119);
    background: none;
    padding: 5px;
    margin-top: 10px;
    display:inline-block;
}
/*Make the parent of sub-menu relative*/
ul#menu li {
    position: relative;
}
/*sub menu*/
ul#menu li ul.sub-menu {
    display:none;
    position: absolute;
    top: 30px;
    left: 0;
    width: 150px;
}
ul#menu li:hover ul.sub-menu {
    display:block;
}



/*Initialize*/
ul#menu2, ul#menu2 ul.sub-menu {
    padding:0;
    margin: 0;
}
ul#menu2 li, ul#menu2 ul.sub-menu li {
    list-style-type: none;
    display: inline-block;
}
/*Link Appearance*/
ul#menu2 li a, ul#menu2 li ul.sub-menu li p {
    text-decoration: none;
    color: rgb(119,119,119);
    background: none;
    padding: 5px;
    margin-top: 10px;
    display:inline-block;
}


/*Make the parent of sub-menu relative*/
ul#menu2 li {
    position: relative;
}
/*sub menu*/
ul#menu2 li ul.sub-menu {
    display:none;
    position: absolute;
    color:rgb(119,119,119);;
    top: 30px;
    left: 0;
    width: 150px;
}
ul#menu2 li:hover ul.sub-menu {
    display:block;
}

