body { 
	margin: 0; background: #000;
	font-size: 3.94em;
}

video { 
	position: fixed;
	top: 50%;
	left: 50%;
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	z-index: -100;
	-moz-transform: translateX(-50%) translateY(-50%);
	-ms-transform: translateX(-50%) translateY(-50%);
	-webkit-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
	background-size: cover;  -webkit-transition: 1s opacity; transition: 1s opacity; 
	}




i {
	color: white;
	font-family: MinionPro-Regular;		
}



.dropdown-menu{
	color: black;
	font-family: MinionPro-Regular;		
}

.navbar-brand{
	color: white!important;
	position: absolute;
	font-family: MinionPro-Regular;	
    	width: 100%;
    	left: 38%;
    	margin: auto;
    	margin-left: 48%;
    	font-size: 0.6em;
}



.navbar {
    	background: rgba(0,0,0,0)!important;
    	border-width: 0px;
    	color: white;
	font-family: MinionPro-Regular;	 
}
    


.dropdown-toggle{
	background: rgba(0,0,0,0)!important;
	font-family: MinionPro-Regular;		
}

.fa{
	font-size: 0.4em!important;
	
}


    

    
    
    








    
    


    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
